@font-face {
    font-family: "Unica77";
    src: url('fonts/Unica77LL-Regular.otf');
}

body {
    height: 90vh; 
    margin: 0;
    position: relative;
    background: #2B1703;
    align-items: center; /* Center vertically */
}

.header {
    display: flex;
    background: #FFFFFF;
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
}

.header :hover {
    text-decoration: underline;
}

.headertext {
    font-family: Unica77;
    font-size: 14px;
    color: #85827E;
    margin: 0;
}

.wrapper {
    height: 60vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.content {
    display: flex;
    flex-direction: column; /* Default to vertical (mobile) */
    align-items: center; /* Center items */
    gap: 58px; /* Space between items */
}

.item {
    padding: 0 0 0 0;
}

.wordmark {
    width: 135px;
}

.symbol {
    width: 82px;
}

.coming {
    width: 116px;
    padding: 4px 0 0 0;
}

img {
    width: inherit;
}

/* tablet: display the symbols larger */
@media (min-width: 768px) {
    .wrapper {
        height: 80vh;
    }

    .content {
      flex-direction: column; 
      gap: 86px; /* Space between items */
    }

    .wordmark {
        width: 202px;
    }
    
    .symbol {
        width: 123px;
    }
    
    .coming {
        width: 173px;
        padding: 6px 0px 0px 0px;
    }
  }

  /* Desktop: Change to horizontal layout */
@media (min-width: 1025px) {
    .wrapper {
        height: 100vh;
    }

    .content {
      flex-direction: row; /* Switch to horizontal */
      gap: 115px; /* Space between items */
    }

    .wordmark {
        width: 269px;
    }
    
    .symbol {
        width: 163px;
        padding: 0;
    }
    
    .coming {
        width: 231px;
        padding: 0 0px 9px 2px;
    }
  }